/* ********* ENCABEZADO ********* */
.header {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.header>div {
    margin: 0 auto;
    max-width: 790px;
    max-height: 48px;

    display: flex;
    justify-content: left;
    align-items: center;
}

#iconHeader {
    color: #2E0039;
    margin-right: 10px;
}

#titleHeader {
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;

    color: #2E0039;
}

/* ********* CUERPO ********* */
main {
    padding: 4rem 0;
    flex-grow: 1;
}

article.convert {
    margin: 0 auto;
    padding: 0 2.5rem;
    max-width: 714px;
    max-height: 195px;

    background-color: #2E0039;
    border: 2px solid #FFFFFF;
    border-radius: 1.5rem;
    color: #FFFFFF;
}

article.convert h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

/* ********* CONVERSOR UNIDADES ********* */
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#unidades {
    display: flex;
    align-items: center;
}

select#opciones {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    padding: 8px;
    width: 218px;

    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;

    background-image: url('../public/images/flecha.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 10px;
}

select#opciones option {
    color: #000000;
}

button {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#conversion input {
    border: none;
    outline: none;

    background-color: transparent;
    color: #FFFFFF;
    text-align: right;
    border-bottom: 2px solid #FFFFFF;
}

#conversion input::-webkit-inner-spin-button,
#conversion input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ********* RESULTADO DE LA CONVERSION ********* */
.footerConvert {
    margin: 20px 0 40px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iconLike {
    padding-bottom: 30px;
}

.resultado {
    display: flex;
    align-items: center;
}

.resultado p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.resultado p>span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

/* ********* HISTORIAL CONVERSIONES ********* */
section {
    margin: 100px 0;
}

h4 {
    margin: 0 auto;
    max-width: 790px;

    font-weight: 700;
    line-height: 24px;
    text-align: left;

    color: #676767;
}

.conversionHistory {
    margin: 20px auto;
    max-width: 790px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.conversionHistory div.container {
    width: calc(50% - 10px);
    height: 38px;
    border-radius: 1rem;
    background-color: #c3baba;

}

.container p {
    text-align: center;
}

/* ********* FOOTER ********* */
footer {
    display: flex;
    justify-content: center;
    gap: 2rem;

    background-color: #2E0039;
    color: #FFFFFF;
}

.termsPrivacy {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

    cursor: pointer;
}